{
    "presets": ['env'],
    "plugins": [
        'transform-react-jsx',
        ['module-resolver', {
            "root": ["./ui"],
            "alias": {
                "components": "js/components",
                "style": "style",
                "js": "js"
            }
        }]
    ]
}
